<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="devoirKeyRing"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_boss"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:logo="@drawable/ic_launcher_boss">
        <activity
            android:name="devoirKeyRing.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="devoirKeyRing.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="devoirKeyRing.SecActivity"
            android:label="@string/title_activity_sec" >
        </activity>
        <activity
            android:name="devoirKeyRing.SecondActivity"
            android:label="@string/title_activity_second" >
        </activity>
    </application>

</manifest>
